<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Glass Type Prediction</title>
</head>
<body>
    <h1>Glass Type Prediction :wine_glass:</h1>
    <form method="POST">
        <label for="RI">Refractive Index (RI):</label>
        <input type="number" step="any" name="RI" required><br>
        
        <label for="Na">Sodium (Na):</label>
        <input type="number" step="any" name="Na" required><br>
        
        <label for="Mg">Magnesium (Mg):</label>
        <input type="number" step="any" name="Mg" required><
